<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>

<body>
    <p>Status:</p>
    {% if status['error'] %} {% for e in status['error'] %}
    <p>{{ e }}</p>
    {% endfor %} {% else %}
    <p>No errors</p>
    {% endif %}
</body>

</html>