<!DOCTYPE html>
<html lang="RU_ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="shortcut icon" href="./static/img/favicon.ico">
</head>

<body>
    {% block header %}
    {% endblock header %}
    {% block left_navbar %}
    {% endblock left_navbar %}
    {% block content %}

    <p>welcome to the <b>{{ page_title }}</b></p>
    <div class="databale">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    {% for key, label in labels.items() %}
                    <th>{{ label }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in datatable %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.age }}</td>

                    {% if row.has_photos %}
                    <td>
                        {% for url in photos[row.id] %}
                        <a href="{{ url }}">Фото {{ loop.index }}</a><br>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ pet_types[row.pet_type_id] }}</td>
                    <td>{{ row.created_at }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <div class="footer">

    </div>

    {% endblock content %}
    {% block right_navbar %}
    {% endblock right_navbar %}

    <style>
        body {
            background: azure;
        }

        table {
            background: white;
            border: 1px solid black;
            border-collapse: collapse;
        }
        table * {
            padding: .25em 1em;
        }

        table td {
            border: 1px solid black;
        }
        table th {
            background: #ccc;
            border: 1px solid black;
            text-align: center;
        }
    </style>

</body>

</html>